NODE_ENV=development
PORT=3000

DB_DIALECT=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=app
DB_USERNAME=postgres
DB_PASSWORD=12345678


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=redis
REDIS_PASSWORD=12345678

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=3600s
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_REFRESH_EXPIRATION=7d
BCRYPT_SALT_ROUNDS=10

LOG_LEVEL=info

